<html lang="en">

<head>
    <base href="https://alfa-menswear.com/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Admin | Add Blog</title>
    <%- include('includes/head') %>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-admin-wrapper">
        <%- include('includes/header') %>
            <div class="alfa-admin-wrapper">
                <div class="admin-side-nav">
                    <%- include('includes/sidebar') %>
                        <div class="admin-main-layout">
                            <div class="admin-breadcrumb">
                                <div class="admin-breadcrumb-title">
                                    <h4>Add Blog</h4>
                                </div>
                            </div>
                            <div class="admin-card">
                                <!-- Add Product Form -->
                                <form action="/admin/add-blog" method="POST" class="row g-3"
                                    enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="tag" class="form-label">Blog Tag:</label>
                                            <input type="text" id="tag" name="tag" class="form-control" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="title" class="form-label">Blog Title:</label>
                                            <input type="text" id="title" name="title" class="form-control" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="title" class="form-label">Blog Creater:</label>
                                            <input type="text" id="created_by" name="created_by" class="form-control"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label for="product_title" class="form-label">Blog Image:</label>
                                            <input type="file" id="image_path" name="image_path" class="form-control"
                                                required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="form-label">Blog Date:</label>
                                            <input type="date" id="date" name="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label for="discount_on_product" class="form-label">Content:</label>
                                            <textarea name="content" class="form-control" id="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label for="product_description" class="form-label">Profession:</label>
                                            <input type="text" id="profession" name="profession" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="product_description" class="form-label">Instagram Link:</label>
                                            <input type="text" id="instagram_link" name="instagram_link"
                                                class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="product_description" class="form-label">Facebook Link:</label>
                                            <input type="text" id="facebook_link" name="facebook_link"
                                                class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="product_description" class="form-label">Linkedin Link:</label>
                                            <input type="text" id="linkedin_link" name="linkedin_link"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="submit-btn">Submit</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <%- include('includes/foot') %>
        <script>
            $(document).ready(function () {
                $('#content').summernote({
                    height: 200
                });
            });
        </script>
</body>

</html>