<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Alfa Admin | Dashboard</title>
     <%- include('includes/head') %>
</head>

<body>
    <div class="main-admin-warpper">
        <%- include('includes/header') %>
        <div class="alfa-admin-wrapper">
            <div class="admin-side-nav">
                <%- include('includes/sidebar') %>
                <div class="admin-main-layout">
                    <div class="admin-bradcrumb">
                        <div class="admin-brudcrumb-title">
                            <h3>Product List</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>