<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="https://alfa-menswear.com/" />
  <title>Alfa Admin | Dashboard</title>
  <%- include('includes/head') %>
</head>

<body>
  <div class="main-admin-warpper">
    <%- include('includes/header') %>
      <div class="alfa-admin-wrapper">
        <div class="admin-side-nav">
          <%- include('includes/sidebar') %>
            <div class="admin-main-layout">
              <div class="product-lists">
                <div class="row">
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="dashboard-cart">
                          <div class="dash-top">
                            <h6>Revenue</h6>
                          </div>
                          <div class="dash-box-content">
                            <h4>£2,454 <span>-11.4</span></h4>
                            <div class="dash-desc">Compare to last year (2019)</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="dashboard-cart">
                          <div class="dash-top">
                            <h6>Sales</h6>
                          </div>
                          <div class="dash-box-content">
                            <h4>£2,454 <span>-11.4</span></h4>
                            <div class="dash-desc">Compare to last year (2019)</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="dashboard-cart">
                          <div class="dash-top">
                            <h6>Costs</h6>
                          </div>
                          <div class="dash-box-content">
                            <h4>£2,454 <span>-11.4</span></h4>
                            <div class="dash-desc">Compare to last year (2019)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  <%- include('includes/foot') %>
</body>

</html>