<div>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="alfa-subscription">
                <div class="subs-text">
                    <h3> Subscribe & get 20% Discount</h3>
                </div>
                <div class="subs-form">
                    <form action="">
                        <div class="subs-form-input">
                            <span><img src="assets/images/email.png" alt=""></span>
                            <input type="text" class="subs-control" placeholder="Email Address">
                            <button type="submit" class="subs-submit"><img
                                    src="assets/images/subs-arrow.png" alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-footer">
                <div class="alfa-footer">
                    <div class="footer-left-wrap">
                        <div>
                           <img src="assets/images/alfa-logo.png" alt="">
                        </div>
                         <div class="footer-about">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Nam luctus
                        </div>
                        <div class="footer-customer-care">
                            <div class="fojkjkffdfd">
                                <h6>Customer Care Number</h6>
                            </div>
                             <ul class="footer-ul">
                                <li><span class="c-span fc-span"><i class="fa-solid fa-phone"></i></span> +44 1202292895</li>
                             </ul>
                        </div>
                        <div class="footer-social-media">
                            <div class="fojkjkffdfd">
                                <h6>Follow Us:</h6>
                            </div>
                            <ul class="comman-ul">
                                <li><a href=""><img src="assets/images/facebook.png" class="social-icon" alt=""></a></li>
                                <li><a href=""><img src="assets/images/instagram.png"class="social-icon"  alt=""></a></li>
                                <li><a href=""><img src="assets/images/twitter.png" class="social-icon" alt=""></a></li>
                                <li><a href=""><img src="assets/images/youtube.png" class="social-icon" alt=""></a></li>
                                <li><a href=""><img src="assets/images/inkedin.png" class="social-icon" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-right-wrap">
                        <div class="footer-links-wrapper">
                            <div class="footer-link-item">
                                <div class="footer-link-title">
                                    <h3>USEFUL LINKS</h3>
                                </div>
                                <ul class="footer-link-ul comman-ul">
                                    <li><a href="/privacy-policy">Privacy policy</a></li>
                                    <li><a href="">User Guidelines</a></li>
                                    <li><a href="">  Terms and conditions</a></li>
                                    <li><a href="">Cookies policies</a></li>
                                    <li><a href="/contact-us">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="footer-link-item">
                                <div class="footer-link-title">
                                    <h3>SHOP</h3>
                                </div>
                                <ul class="footer-link-ul comman-ul">
                                    <li><a href="">Suits</a></li>
                                    <li><a href="">Jackets</a></li>
                                    <li><a href="">Trousers</a></li>
                                    <li><a href="">Shirts</a></li>
                                    <li><a href="">Polos</a></li>
                                    <li><a href="">T-shirts</a></li>
                                    <li><a href="">Knitwear</a></li>
                                </ul>
                            </div>
                            <div class="footer-link-item">
                                <div class="footer-link-title">
                                    <h3>Accessories</h3>
                                </div>
                                <ul class="footer-link-ul comman-ul">
                                    <li><a href="">Belts</a></li>
                                    <li><a href="">Ties</a></li>
                                    <li><a href="">Underwear</a></li>
                                    <li><a href="">Shoes</a></li> 
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copy-right">
        <p>@2024 alfamenswear</p>
    </div>
</div>