<header class="header">
    <div class="header-container">
        <div class="left-header-wrapper">
            <div class="alfa-logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="alfa-navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Blogs</a></li>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">Contact Us</a></li>
                    <li>
                        <% if (user) { %>
                            <p>Welcome, <%= user.name %>!</p>
                        <% } else { %>
                            <p>Welcome, Guest!</p>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-header-wrapper">
            <div class="alfa-search">
                <span><img src="assets/images/search.png" alt=""></span>
                <input type="search" name="search" class="alfa-search-control" placeholder="Search for products" id="">
            </div>
            <div class="header-icons">
                <ul>
                    <li>
                         <div class="alfa-icon-flex">
                            <img src="assets/images/profile.png"  width="100%" alt="">
                            <span>Profile</span>
                         </div>
                    </li>
                    <li>
                        <div class="alfa-icon-flex">
                           <img src="assets/images/heart.png"  width="100%" alt="">
                           <span>Wishlist</span>
                        </div>
                   </li>
                   <li>
                         <div class="alfa-icon-flex">
                            <img src="assets/images/heart.png"  width="100%" alt="">
                            <span>Bag</span>
                         </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>