<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-row">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>About Us</h2>
                                </div>
                            </div>
                            <div class="product-col-6">
                                <div class="product-image">
                                    <div class="back-cercle">
                                        <span></span>
                                    </div>
                                    <div class="shop-images">
                                        <img src="assets/images/man-shirt.png" class="shop-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start -->
                <section class="mt-80" style="margin-bottom:145px;">
                    <div class="product-wrapper">
                      
                    </div>
                </section>
                <!-- End -->

               
            </div>
          
             <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>