<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-row">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>About Us</h2>
                                </div>
                            </div>
                            <div class="product-col-6">
                                <div class="product-image">
                                    <div class="back-cercle">
                                        <span></span>
                                    </div>
                                    <div class="shop-images">
                                        <img src="assets/images/man-shirt.png" class="shop-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start -->
                <section class="mt-80" style="margin-bottom:145px;">
                    <div class="product-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="about-title text-center">
                                    <h3>Our Mission</h3>
                                </div>
                                <div class="about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nulla velit,
                                        vel efficitur est rutrum maximus. Morbi cursus dolor egestas sem interdum,
                                        ut fermentum lorem euismod. Praesent quis nibh.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nulla velit,
                                        vel efficitur est rutrum maximus. Morbi cursus dolor egestas sem interdum,
                                        ut fermentum lorem euismod. Praesent quis nibh.</p>
                                </div>
                                <div class="about-image text-center">
                                    <img src="assets/Images/about-us.png" width="100%" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="top-points-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="about-item">
                                            <div class="about-item-img">
                                                <img src="assets/images/ab1.png" alt="">
                                            </div>
                                            <div class="about-item-t">
                                                <h5>All Natural</h5>
                                            </div>
                                            <div class="about-item-content">
                                                or county now sister engage had
                                                season better had waited. Occasional
                                                mrs interested far expression.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="about-item">
                                            <div class="about-item-img">
                                                <img src="assets/images/ab2.png" alt="">
                                            </div>
                                            <div class="about-item-t">
                                                <h5>Top Quality</h5>
                                            </div>
                                            <div class="about-item-content">
                                                or county now sister engage had
                                                season better had waited. Occasional
                                                mrs interested far expression.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="about-item">
                                            <div class="about-item-img">
                                                <img src="assets/images/ab3.png" alt="">
                                            </div>
                                            <div class="about-item-t">
                                                <h5>10% cashback</h5>
                                            </div>
                                            <div class="about-item-content">
                                                or county now sister engage had
                                                season better had waited. Occasional
                                                mrs interested far expression.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="about-2-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-image">
                                            <img src="assets/images/about2.png" width="100%" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="about-2-content">
                                            <div class="about2">
                                                <h3>Hello Form CEO</h3>
                                            </div>
                                            <div class="about-para">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                                    sollicitudin sit amet purus sit amet varius. Nullam vel augue a
                                                    dolor molestie commodo. Suspendisse at massa urna. Pellentesque
                                                    habitant morbi tristique senectus et netus et malesuada fames ac
                                                    turpis egestas. Fusce enim nisi, commodo et erat euismod,
                                                    ullamcorper tristique arcu.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                                    sollicitudin sit amet purus sit amet varius. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TESTIMONIAL -->
                        <section class="mt-80">
                            <div class="container">
                                <div id="testimonial-carousel" class="alfa-testimonila owl-carousel comman-nav">
                                    <div class="testimonial-warpper">
                                        <div class="test-quotes">
                                            <img src="assets/images/quotes.png" class="quotes-img" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus sem
                                                ultrices
                                                ipsum porta hendrerit. Praesent a pellentesque lorem. Etiam feugiat
                                                commodo
                                                risus, vitae tincidunt neque faucibus sed</h4>
                                            <div class="testimonial-details">
                                                <div class="test-image">
                                                    <img src="assets/images/testimonial.png" alt="">
                                                </div>
                                                <div class="test-d-wrap">
                                                    <div class="test-name">
                                                        <h5 class="name">Jon battler</h5>
                                                        <h6 class="designation">Fashion designer</h6>
                                                    </div>
                                                    <ul class="testimonial-rating">
                                                        <li>
                                                            <a href=""><img src="assets/images/star.png"
                                                                    class="star-icon" alt=""></a>
                                                            <a href=""><img src="assets/images/star.png"
                                                                    class="star-icon" alt=""></a>
                                                            <a href=""><img src="assets/images/star.png"
                                                                    class="star-icon" alt=""></a>
                                                            <a href=""><img src="assets/images/star.png"
                                                                    class="star-icon" alt=""></a>
                                                            <a href=""><img src="assets/images/star.png"
                                                                    class="star-icon" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END -->
                    </div>
                </section>
                <!-- End -->


            </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>