<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Blogs Detail</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                <div class="product-banner brudcrumb">
                    <div class="container">
                        <div class="hero-product-row">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="checkout-wrapper blog-detail-wrapper margin-190">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alfa-blog-wrappers">
                                    <div class="blog-left-wrap">
                                        <div class="blog-left-top blod-d-2">
                                            <div class="blog-tag">Fashion</div>
                                            <div class="blog-date">20 June 2024</div>
                                        </div>
                                        <div class="blog-middle-wrap">
                                            <div class="blog-title-content" style="margin: 0 0 20px;">
                                                <h3>New Fashion Menswear Jeans</h3>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="blog-right-wrap">
                                        <div class="blog-image">
                                            <img src="assets/images/about-us.png" width="100%" alt="">
                                        </div>
                                        <div class="blog-detail-pro">
                                            <div class="d-p-left">
                                                 <img src="assets/images/blog-user.png" alt="">
                                                 <div class="blog-user-content">
                                                     <h4>Nattasha</h4>
                                                     <h6>Fashion designer</h6>
                                                 </div>
                                            </div>
                                            <div class="d-p-right">
                                                 <ul>
                                                    <li><a href=""><span><i class="fa-brands fa-instagram"></i></span></a></li>
                                                    <li><a href=""><span><i class="fa-brands fa-facebook"></i></span></a></li>
                                                    <li><a href=""><span><i class="fa-brands fa-twitter"></i></span></a></li>
                                                 </ul>
                                            </div>
                                         </div>
                                         <hr style="margin: 20px 0px 20px;">
                                         <div class="blog-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin sit amet purus sit amet varius. Nullam vel augue a dolor molestie commodo. Suspendisse at massa urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce enim nisi, commodo et erat euismod, ullamcorper tristique arcu. Duis volutpat sem id tempor hendrerit. Vestibulum vel nunc urna. Donec bibendum velit massa, non cursus nulla lacinia a. Donec sed ante vitae sapien vehicula tristique. Nunc pharetra ligula porttitor auctor viverra. Integer nunc lectus, pellentesque eget laoreet id, accumsan non elit. Ut ac viverra nunc, eu maximus urna.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin sit amet purus sit amet varius. Nullam vel augue a dolor molestie commodo. Suspendisse at massa urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce enim nisi, commodo et erat euismod, ullamcorper tristique arcu. Duis volutpat sem id tempor hendrerit. Vestibulum vel nunc urna. Donec bibendum velit massa, non cursus nulla lacinia a. Donec sed ante vitae sapien vehicula tristique. Nunc pharetra ligula porttitor auctor viverra. Integer nunc lectus, pellentesque eget laoreet id, accumsan non elit. Ut ac viverra nunc, eu maximus urna.</p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>