<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product Details</title>
    <%- include('includes/head') %>
</head>
<style>
    .alfa-pro-detail-wrapper { max-width: 600px; margin: 0 auto; }
    .image-grid-wrapper { margin-top: 5px; overflow-x: auto; white-space: nowrap; }
    .images-grids { display: flex; flex-wrap: wrap; gap: 10px; }
    .image-item { 
        flex: 1 1 calc(20% - 10px); 
        cursor: pointer; 
        cursor: pointer;
        text-align: center;
        align-items: center;
        display: flex;
       justify-content: center;
    }
    .image-item img { width: 100%; }
</style>
<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                
             </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
            <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>