<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | My Cart</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160">
                    <div class="container">
                        <div class="checkout-title">
                            <h3>Shoping Cart</h3>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="alfa-cart-items cart-right-wrap">
                                        <div class="cart-table">
                                            <div class="cart-head">
                                                <div class="cart-tr">
                                                    <div class="cart-th" style="width: 27%;">Products</div>
                                                    <div class="cart-th">Price</div>
                                                    <div class="cart-th">Quantity</div>
                                                    <div class="cart-th">Sub-Total</div>
                                                </div>
                                            </div>
                                            <div class="cart-tbody">
                                                <div class="cart-tr cart-b-tr">
                                                    <div class="cart-td">
                                                        <div class="cart-items-left">
                                                            <div class="cart-delete">
                                                                <a href=""><span><i class="fa-regular fa-circle-xmark"></i></span></a>
                                                            </div>
                                                            <div class="cart-image">
                                                                <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/shirt/t/b/x/s-ts-shirt1694-tanip-original-imagrf39hf7aywhg.jpeg?q=70&crop=false" class="cart-img"
                                                                    alt="">
                                                            </div>
                                                            <div class="pro-cart-contents">
                                                                <div class="pro-cart-title">
                                                                    <h3>shirt 1</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-td">
                                                        <div class="pro-cart-price">
                                                            <h3>£50</h3>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="cart-td">
                                                        <div class="cart-quantity-wrapper">
                                                            <div class="left-input">
                                                                <span><i class="fa-solid fa-minus"></i></span>
                                                            </div>
                                                            <div class="cart-quantity">
                                                                <input type="text" value="1" class="cart-value">
                                                            </div>
                                                            <div class="right-input">
                                                                <span><i class="fa-solid fa-plus"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-td">
                                                        <div class="pro-cart-price">
                                                            <h3>£100</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-tr cart-b-tr">
                                                    <div class="cart-td">
                                                        <div class="cart-items-left">
                                                            <div class="cart-delete">
                                                                <a href=""><span><i class="fa-regular fa-circle-xmark"></i></span></a>
                                                            </div>
                                                            <div class="cart-image">
                                                                <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/shirt/t/b/x/s-ts-shirt1694-tanip-original-imagrf39hf7aywhg.jpeg?q=70&crop=false" class="cart-img"
                                                                    alt="">
                                                            </div>
                                                            <div class="pro-cart-contents">
                                                                <div class="pro-cart-title">
                                                                    <h3>shirt 1</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-td">
                                                        <div class="pro-cart-price">
                                                            <h3>£50</h3>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="cart-td">
                                                        <div class="cart-quantity-wrapper">
                                                            <div class="left-input">
                                                                <span><i class="fa-solid fa-minus"></i></span>
                                                            </div>
                                                            <div class="cart-quantity">
                                                                <input type="text" value="1" class="cart-value">
                                                            </div>
                                                            <div class="right-input">
                                                                <span><i class="fa-solid fa-plus"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-td">
                                                        <div class="pro-cart-price">
                                                            <h3>£100</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="alfa-offcanvas-footer cart-left-wrap">
                                        <div class="cart-left-top">
                                            <div class="cart-left-title">
                                                <h4>Coupon Code</h4>
                                            </div>
                                            <div class="cart-tag">
                                                <span><i class="fa-solid fa-tag"></i></span>
                                            </div>
                                        </div>
                                         <div class="promo-code-wrap">
                                            <input type="text" class="promo-input" placeholder="Promo Code">
                                            <button type="submit" class="apply-btn" name="submit">
                                                Apply
                                            </button>
                                        </div>
                                        <div class="alfa-cart-total">
                                            <div class="checkout-title">
                                                <h4>Card Totals</h4>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Sub- Total</div>
                                                    <div class="alfa-price">£456.00</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">GST</div>
                                                    <div class="alfa-price">£91.00</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">Discount</div>
                                                    <div class="alfa-price">-£30.00</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">Delivery Fee</div>
                                                    <div class="alfa-price">£25.00</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="alfa-cart-total">
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Total Cost</div>
                                                    <div class="alfa-price">£542.00</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="alfa-checkout-wrapper">
                                            <button type="button" class="checkout-btn">
                                                Proceed to Checkout
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>