<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product Details</title>
    <%- include('includes/head') %>
</head>
 
<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160 margin-190">
                    <div class="container">
                        <div class="checkout-title text-center">
                            <h3>Contact Us</h3>
                            <p>Got any question? Feel free to reach out to us below!</p>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                            <div class="contact-info">
                                <div class="contact-info-text">
                                    <h5>Contact Info</h5>
                                </div>
                                <ul class="contact-ul">
                                    <li><span><i class="fa-solid fa-phone"></i></span> +44 1202292895</li>
                                    <li><span><i class="fa-regular fa-envelope"></i></span> alfamenswear@gmail.com</li>
                                    <li><span><i class="fa-solid fa-phone"></i></span> +44 1202292895</li>
                                </ul>
                            </div>
                           </div>
                           <div class="col-md-8">
                             <div class="contact-form-wrapper">
                                 <form action="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group contact-form-group">
                                                <label for="Name">Full Name</label>
                                                <input type="text" name="name" class="form-control contact-form-control" placeholder="Enter Full Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group contact-form-group">
                                                <label for="Email">Email ID</label>
                                                <input type="text" name="email" class="form-control contact-form-control" placeholder="Enter Email ID">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group contact-form-group">
                                                <label for="Email">Contact</label>
                                                <input type="text" name="contact" class="form-control contact-form-control" placeholder="Enter Contact">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group contact-form-group">
                                                <label for="Name">Subject</label>
                                                <input type="text" name="subject" class="form-control contact-form-control" placeholder="Enter Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group contact-form-group">
                                                <label for="Name">Message</label>
                                                <textarea name="" id="" class="form-control contact-form-control"  style="height: 150px;" placeholder="Enter Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="contact-submit">
                                            <button class="wishlist-btn submit-btn">Submit</button>
                                        </div>
                                    </div>
                                 </form>
                             </div>
                           </div>
                        </div>
                    </div>
                </div>
             </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
            <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>