<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa | Forget Password</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <div class="mt-1000">
             <div class="user-password-steps">
                <div class="alfa-user-wrap">
                    <div class="user-back">
                        <a onclick="window.history.back()"><img src="assets/images/back.png" alt=""></a>
                    </div>
                </div>
                <div class="alfa-pass-container">
                    <div class="password-wrap">
                        <% if (typeof message !== 'undefined') { %>
                            <h5 class="text-danger text-center"><%= message %></h5>
                        <% } %>
                        <div class="pass-title">
                            <h3>Forgot Password?</h3>
                            <p>We Sent message on sumitsingh2020@gmail.com with a link to reset password</p>
                        </div>
                        <form action="/forget-password" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alfa-form-group">
                                        <label for="Email">Email ID</label>
                                        <input type="text" class="form-input" name="email" placeholder="Enter your Email ID" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="user-button">
                                        <button type="submit" class="user-btn">Send OTP</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
        </div>
    </div>
    </div>
</body>

</html>