<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Home</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                <!-- HERO SECTION -->
                <section class="hero-section">
                    <div id="hero-carousel" class="owl-carousel comman-nav">
                        <div class="items hero-sec-items" style="background-color: #F8F2E8;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="alfa-hero-left-wrapper">
                                            <div class="alfa-text">
                                                <h6><span></span> men wear</h6>
                                            </div>
                                            <div class="alfa-main-title">
                                                <h3>Alfa Meanswear <br> Accessories</h3>
                                            </div>
                                            <div class="alfa-discover-btn">
                                                <a href="" class="alfa-btn">Discover Now <img
                                                        src="assets/images/arrow-right.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="alfa-banners">
                                            <div class="alfa-circle">
                                                <img src="assets/images/Ellipse1.png" alt="">
                                            </div>
                                            <div class="alfa-main-image">
                                                <img src="assets/images/man-shirt.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END -->
                <!-- FEATURES START -->
                <section class="feature-section mt-80">
                    <div class="container">
                        <div class="features-row">
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="assets/images/shipping.png" alt="">
                                </div>
                                <div class="features-content">
                                    <h5>Free Shipping</h5>
                                    <p>From all orders over $100</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="assets/images/quality.png" alt="">
                                </div>
                                <div class="features-content">
                                    <h5>Quality Support</h5>
                                    <p>24/7 online feedback</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="assets/images/return.png" alt="">
                                </div>
                                <div class="features-content">
                                    <h5>Return & Refund</h5>
                                    <p>Return money within 30 days</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="assets/images/gift-voucher.png" alt="">
                                </div>
                                <div class="features-content">
                                    <h5>Gift Voucher</h5>
                                    <p>20% off when you shop online</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END -->
                <!-- CATEGORY SECTION -->
                <section class="mt-80 category-section mb-5">
                    <div class="container">
                        <div class="alfa-title">
                            <h2>Shop By categories</h2>
                        </div>
                        <div class="alfa-category-wrapper">
                            <div class="category-wrapper">
                                 <div class="category-box">
                                     <a href="">
                                        <div class="category-img">
                                            <img src="assets/images/cat1.png" alt="">
                                         </div>
                                         <div class="category-text">
                                            <h4>Shirt</h4>
                                         </div>
                                     </a>
                                 </div>
                                 <div class="category-box">
                                    <a href="">
                                       <div class="category-img">
                                           <img src="assets/images/cat2.png" alt="">
                                        </div>
                                        <div class="category-text">
                                           <h4>Jeans</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box">
                                    <a href="">
                                       <div class="category-img">
                                           <img src="assets/images/cat3.png" alt="">
                                        </div>
                                        <div class="category-text">
                                           <h4>Trouser</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box">
                                    <a href="">
                                       <div class="category-img">
                                           <img src="assets/images/cat4.png" alt="">
                                        </div>
                                        <div class="category-text">
                                           <h4>Suit</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box">
                                    <a href="">
                                       <div class="category-img">
                                           <img src="assets/images/cat4.png" alt="">
                                        </div>
                                        <div class="category-text">
                                           <h4>Suit</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="category-box">
                                    <a href="">
                                       <div class="category-img">
                                           <img src="assets/images/cat4.png" alt="">
                                        </div>
                                        <div class="category-text">
                                           <h4>Suit</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END -->
            </div>

            <!-- FOOTER -->
            <footer class="footer">
                <div class="footer-wrapper">
                    <div class="alfa-subscription">
                         <div class="subs-text">
                             <h3> Subscribe & get 20% Discount</h3>
                         </div>
                         <div class="subs-form">
                            <form action="">
                                <div class="subs-form-input">
                                    <span><img src="assets/images/email.png" alt=""></span>
                                    <input type="text" class="subs-control" placeholder="Email Address">
                                    <button type="submit" class="subs-submit"><img src="assets/images/subs-arrow.png" alt=""></button>
                                </div>
                            </form>
                         </div>
                    </div>
                </div>
            </footer>
            <!-- END -->
    </div>
    <%- include('includes/foot') %>
        <script>
            $(document).ready(function () {
                $('#hero-carousel').owlCarousel({
                    loop: true,
                    margin: 20,
                    nav: true,
                    autoplay: true,
                    navText: ['<i class="fa-solid fa-angle-left"></i>', '<i class="fa-solid fa-angle-right"></i>'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 1
                        }
                    }
                });
            });
        </script>
</body>

</html>