<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product Details</title>
    <%- include('includes/head') %>
</head>
 
<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160">
                    <div class="container">
                        <div class="checkout-title text-center">
                            <h3>Order Information</h3>
                            <h6>Order ID: 334902461</h6>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                 <div class="alfa-checkout-address">
                                    <div class="order-proccess-wrapper">
                                        <div class="process-wrapper">
                                            <div class="process-item">
                                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                                <h6>Order Placed</h6>
                                            </div>
                                            <div class="process-item">
                                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                                <h6>Processing</h6>
                                            </div>
                                            <div class="process-item">
                                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                                <h6>On The Road</h6>
                                            </div>
                                            <div class="process-item">
                                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                                <h6>Delivered</h6>
                                            </div>
                                        </div>
                                     </div>
                                     <div class="shiping-title">
                                        <h5>Delivery Address</h5>
                                    </div>
                                    <div class="shipping-address">
                                         <div class="shipping-address-display">
                                            <div class="address-content">
                                                <div class="shipper-name"> Jeremy John Lawson </div>
                                                <div class="shipper-email">
                                                    <p>sales@alfa-menswear.com </p>
                                                    <p>+44 1202 292 895 </p>
                                                </div>
                                                <div class="shipper-address">
                                                    33 Westover Road, Bournemouth, Dorset, BH1 2BZ
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div class="alfa-checkout-address mt-5">
                                    <div class="shiping-title">
                                       <h5>Billing Address</h5>
                                   </div>
                                   <div class="shipping-address">
                                        <div class="shipping-address-display">
                                           <div class="address-content">
                                               <div class="shipper-name"> Jeremy John Lawson </div>
                                               <div class="shipper-email">
                                                   <p>sales@alfa-menswear.com </p>
                                                   <p>+44 1202 292 895 </p>
                                               </div>
                                               <div class="shipper-address">
                                                   33 Westover Road, Bournemouth, Dorset, BH1 2BZ
                                               </div>
                                           </div>
                                        </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-item-wrapper">
                                    <div class="item-counts">
                                        <div class="counts">
                                            <h6>2 Item </h6>
                                        </div>
                                     </div>
                                    <div class="checkout-cart-wrapper">
                                        <div class="checkout-wrapp">
                                             <div class="check-item">
                                                <div class="check-item-left">
                                                     <div class="check-item-image">
                                                        <img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8717979/2019/3/20/585db9fe-1df0-458d-b218-6f514eabb9601553068826233-Mast--Harbour-Men-Shirts-4141553068825026-1.jpg" class="check-image" alt="">
                                                     </div>
                                                     <div class="checkout-cont">
                                                        <h4>test </h4>
                                                        <div class="checkout-rest-cont">
                                                            <p>Color : Blue</p>
                                                            <p>Size : XL</p>
                                                            <p>Qty :  1</p>
                                                        </div>
                                                     </div>
                                                </div>
                                                <div class="check-item-right">
                                                    <div class="check-price">
                                                        <h3>£ 90.00</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="alfa-cart-total">
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Sub- Total</div>
                                                    <div class="alfa-price"> £ 100.00</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">Vat ( 20% )</div>
                                                    <div class="alfa-price">£  56</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">Discount</div>
                                                    <div class="alfa-price">- 20</div>
                                                </li>
                                                <li>
                                                    <div class="alfa-text">Delivery Fee</div>
                                                    <div class="alfa-price"> fdgfd</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="alfa-cart-total">
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Total Cost</div>
                                                    <div class="alfa-price">£ 150.00</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="alfa-checkout-wrapper">
                                            <a href="/product">
                                                <button type="button" class="checkout-btn">Continue Shopping</button>
                                              </a>
                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
            <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>