<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa | OTP Verification</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <div class="mt-1000">
             <div class="user-password-steps">
                <div class="alfa-user-wrap">
                    <div class="user-back">
                        <a onclick="window.history.back()"><img src="assets/images/back.png" alt=""></a>
                    </div>
                </div>
                <div class="alfa-pass-container">
                    <div class="password-wrap">
                        <div class="pass-title text-center">
                            <h3>Enter Your Verification Code</h3>
                            <p>We Sent a verification code tosimitsingh1030@gmail.com</p>
                        </div>
                        <form action="/forget-password" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alfa-otp-form-group">
                                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
                                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
                                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
                                        <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 >
                                        <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(5)' maxlength=1 >
                                        <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(6)' maxlength=1 >
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="user-buttons text-center">
                                        <a href class="user-btns">Reset code</a>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="user-button">
                                        <button class="user-btn">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
        </div>
    </div>
    </div>
    <script>
        let digitValidate = function(ele){
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g,'');
        }

        let tabChange = function(val){
            let ele = document.querySelectorAll('input');
            if(ele[val-1].value != ''){
            ele[val].focus()
            }else if(ele[val-1].value == ''){
            ele[val-2].focus()
            }   
        }


    </script>
</body>
 </html>