<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa | OTP Verification</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <div class="mt-1000">
             <div class="user-password-steps">
                 <div class="alfa-pass-container">
                    <div class="password-wrap">
                         <div class="pass-title text-center">
                            <h3>Password was successfully reset</h3>
                         </div>
                         <div class="password-success">
                             <div class="success-image">
                                <img src="assets/images/success.png" alt="">
                             </div>
                             <div class="success-continue">
                                <a href="/login" class="pass-btn-success">Continue Shopping</a>
                             </div>
                         </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    </div>
    
</body>
 </html>