<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | Product Details</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="alfa-checkout-address">
                                    <div class="address-t-wrapper">
                                        <div class="shiping-title">
                                            <h5>Select Payment Method</h5>
                                        </div>
                                    </div>
                                    <div class="shipping-address payment-section">
                                       <div class="payment-wrapper">
                                          <div class="payment-left-item">
                                            <div class="pay-left-wrap">
                                                <div class="payment-text">
                                                    <h6>Recommended</h6>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="payment-right-item">
                                             <div class="payment-right-wrap">
                                                <div class="payment-text">
                                                    <h6>Recommended Payment Options</h6>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="checkout-item-wrapper mt-5">
                                    
                                    <div class="checkout-cart-wrapper">
                                         <div class="alfa-cart-total">
                                            <div>
                                                <h5>Card Totals</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Sub- Total</div>
                                                    <div class="alfa-price">£85
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="alfa-text">
                                                        Shipping
                                                    </div>
                                                    <div class="alfa-price">Free
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="alfa-text">Discount</div>

                                                    <div class="alfa-price">£ 13.60
                                                    </div>
                                                </li>
                                                 
                                            </ul>
                                        </div>
                                        <div class="alfa-cart-total">
                                            <ul>
                                                <li>
                                                    <div class="alfa-text">Total Cost</div>
                                                    <div class="alfa-price">
                                                        £91.60
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>