<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Privacy Policy</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>
<style>
    .policy-content >div{
        margin: 0 0 35px;
    }
</style>
<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-700">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-rows">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Privacy Policy</h2>
                                </div>
                            </div>
                         </div>
                    </div>
                  </div>
                <!-- Start -->
                <section class="mt-80" style="margin-bottom:145px;">
                   <div class="privacy-policy-content">
                      <div class="text-center">
                        <p>Disclaimer: In the event of any discrepancy or conflict,<br>
                            the English version will prevail over the translation.</p>
                      </div>
                      <div class="container">
                        <div class="policy-content">
                            <div>
                               <h3>Introduction</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor sapien. Ut porta ornare eros,
                                  sed bibendum turpis congue vel. Nulla id mattis purus, elementum tempus nisl. Aliquam vestibulum ex nisi,
                                  nec congue sem fermentum eget. Nullam interdum eleifend efficitur. Vivamus non nibh at massa mattis lobortis
                                  sit amet at est. Morbi interdum malesuada ante sit amet sagittis.</p>
                            </div>
                            <div>
                                <h3>Collection</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor sapien. Ut porta ornare eros,
                                   sed bibendum turpis congue vel. Nulla id mattis purus, elementum tempus nisl. Aliquam vestibulum ex nisi,
                                   nec congue sem fermentum eget. Nullam interdum eleifend efficitur. Vivamus non nibh at massa mattis lobortis
                                   sit amet at est. Morbi interdum malesuada ante sit amet sagittis.</p>
                             </div>
                         </div>
                      </div>
                   </div>
                </section>
                <!-- End -->


            </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>