<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | SignUp</title>
    <%- include('includes/head') %>
</head>
<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100">
                 <div class="product-banner">
                    <div class="container">
                        <div class="product-row">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Shop</h2>
                                </div>
                            </div>
                            <div class="product-col-6">
                                <div class="product-image">
                                    <div class="pr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </div>
</body>
</html>