<header class="admin-header">
    <div class="admin-left">
        <div class="admin-logo text-center">
            <a href=""><img src="../assets/images/fav.png" alt=""></a>
         </div>
        <!-- <div class="admin-side-nav">
            <div>
                <img src="../assets/admin-images/menu.png" alt="">
            </div>
        </div> -->
    </div>
    <div class="admin-right">
        <div class="admin-right-wrapper">
            <div class="admin-search">
                <!-- <div class="admin-search-form">
                    <span><img src="../assets/images/search.png" alt=""></span>
                    <input type="text" class="admin-search" placeholder="Search">
                </div> -->
            </div>
            <div class="admin-alfa-right">
                <div class="admin-notification">
                    <div class="notification-icon">
                        <img src="../assets/admin-images/notification.png" alt="">
                    </div>
                </div>
                
                <div class="admin-lang">
                    <div class="lang-icon">
                        <img src="../assets/admin-images/lang.png" alt="">
                    </div>
                </div>

                <div class="admin-settigs">
                    <div class="setting-icon">
                        <img src="../assets/admin-images/setting.png" alt="">
                    </div>
                </div>
                <div class="admin-user-wrapper">
                    <div class="admin-user-wrap">
                        <div class="admin-user-icon">
                            <div>
                                <img src="../assets/admin-images/profile.png" alt="">
                            </div>
                            <div class="admin-pro-name">
                                     <h5>Admin</h5>
                                     <p>Manager</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>