<div class="admin-navbar">
  <div class="admin-sidnav-layout">
    <ul>
      <li><a href="/admin"> <span> <img src="../assets/admin-images/dashboard.png" alt=""></span> Dashboard</a></li>
      <li><a href="/admin/user-list">User List</a></li>
      <li><a href="/admin/banner">Banner</a></li>
      <li><a href="/admin/category">Category</a></li>
      <li><a href="/admin/subcategory">Sub Category</a></li>

      <ul class="menu">
        <li class="menu-item-has-children">
          <a  >Inventory</a>
          <ul class="sub-menu">
            <li><a href="/admin/inventory/top-wear">Top Wear Inventory</a></li>
            <li><a href="/admin/inventory/bottom-wear">Bottom Wear Inventory</a></li>
          </ul>
        </li>
      </ul>
      <li><a href="/admin/add-product">Add New Product</a></li> 
    </ul>
  </div>
</div>