<div class="admin-navbar">
    <div class="admin-sidnav-layout">
        <ul>
            <li><a href=""> <span> <img src="../assets/admin-images/dashboard.png" alt=""></span> Dashboard</a></li>
            <li><a href="/admin/banner">Banner</a></li>
            <li><a href="/admin/category">Category</a></li>
        </ul>
    </div>
</div>