<div class="admin-navbar">
  <div class="admin-sidnav-layout">
    <ul>
      <li><a href="/admin"> <span> <i class="fa-solid fa-gauge"></i> </span> Dashboard</a></li>
      <li><a href="/admin/users-list"> <span><i class="fa-solid fa-users"></i></span> User List</a></li>
      <li><a href="/admin/banner"><span><i class="fa-solid fa-image"></i></span> Banner</a></li>
      <li><a href="/admin/category"><span><i class="fa-solid fa-folder"></i></span> Category</a></li>
      <li><a href="/admin/subcategory"><span><i class="fa-solid fa-folder"></i></span> Sub Category</a></li>

      <ul class="menu">
        <li class="menu-item-has-children">
          <a  >Inventory</a>
          <ul class="sub-menu">
            <li><a href="/admin/inventory/top-wear">Top Wear Inventory</a></li>
            <li><a href="/admin/inventory/bottom-wear">Bottom Wear Inventory</a></li>
          </ul>
        </li>
      </ul>
      <li><a href="/admin/add-product">Add New Product</a></li> 
    </ul>
  </div>
</div>